.app-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(#E9596F, #5D497A);
}

.card-container {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  color: white;
}

button {
  width: 80px;
  height: 30px;
  border-radius: 15px;
  border: none;
  background-color: #5D497A;
  color: white;
  font-weight: bold;
}

button:hover {
  background-color: black;
}